* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f4f4f4;
}

h1 {
    font-size: 2.5rem;
    font-weight: 600;
    color: #333;
    margin-bottom: 20px;
}

h2 {
    font-size: 2rem;
    font-weight: 600;
    color: #333;
    margin-bottom: 20px;
}

section {
    padding: 20px;
}

section h3 {
    font-size: 1.5rem;
    font-weight: 600;
    color: #333;
    margin-bottom: 20px;
}

section li {
    list-style: none;
    margin-bottom: 10px;
}

section p {
    font-size: 1rem;
    color: #333;
    margin-bottom: 20px;
}

section img {
    width: 500px;
    height: auto;
    margin-bottom: 20px;
}

section h2 {
    font-size: 2rem;
    font-weight: 600;
    color: #333;
    margin-bottom: 20px;
}

section ol {
    margin-bottom: 20px;
}

section ol li {
    list-style: none;
    margin-bottom: 10px;
}

section label {
    font-size: 1rem;
    color: #333;
    margin-bottom: 10px;
}

section input {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

section fieldset {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 20px;
}

section legend {
    font-size: 1.5rem;
    font-weight: 600;
    color: #333;
    margin-bottom: 20px;
}

section button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

hr {
    margin-bottom: 20px;
}

br {
    margin-bottom: 20px;
}